.sfondo {
    background-image: url("../src/img/dc-logo-bg.png"), url(../src/img/footer-bg.jpg);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center right;
}

.col3 {
    width: calc(100% / 6);
}

.col6 {
    width: calc(100% / 6)*2;
}

h3 {
    color: white;
    padding-top: 40px;
}

ul {
    color: lightgray;
    padding-top: 10px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}