main {
    background-color: black;
    color: white;
}


.col img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: calc((100% - 50px) / 6);
    /* 6 colonne, 5 gap da 10px = 50px */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}

.sfondosuper {
    background-image: url(../src/img/jumbotron.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-bottom: 40px;
}

.loadmore {
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #0094ff;
    padding: 10px 30px;
}