* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  gap: 10px;
  align-items: stretch;
}

li {
  display: flex;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

header {
  padding: 10px;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.active {
  color: #037eea;
  border-bottom: 4px solid #037eea;
  /* padding-bottom: 40px; */
}